/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */


:root{
    --white: #f9f9f9;
    --gray: #85888C;
} /* variables*/



/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


article {
    margin-top: 100px;
}

img {
    max-height: 40vh;
    max-width: 60vw;
    border-radius: 15px;
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
p {
    margin: 10px;
    text-align: center;
}

/* Header */
.header{
    background-color: black;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 40px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 20px 30px 30px 30px;
    color: var(--white);
}


.menu li a:hover {
    background-color: white;
    color: black;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 30px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 768px) {
.nav{
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
}
.menu li{
    float: left;
}
.menu a:hover{
    background-color: transparent;
    color: var(--gray);

}

.hamb{
    display: none;
}
}


.subTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 14px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

.subTable thead tr {
    background-color: black ; 
    color: #ffffff; 
    text-align: left; 
}


.subTable th,
.subTable td {
    padding: 12px 15px;
    text-align: center;
}


.subTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.subTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.subTable tbody tr:last-of-type {
    border-bottom: 3px solid  black;
}

.subTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.scanButton {
    background-color: black;
    color: white;
    padding: 3px;
}

.scanButton:hover {
    background-color: white;
    color: black;
}

.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* Login Form */

#loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 20px;
    box-sizing: border-box; 
}

#loginForm h1 {
    margin-bottom: 10px;
}

#loginForm > label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    /* cursor: pointer; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#loginForm input[type="text"], input[type="password"] {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #333333;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid #dddddd;
}

#loginForm button[type="submit"], button[type="button"] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #333333;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 10px;
}

/* Register Form */

#registerForm {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 20px;
    box-sizing: border-box; 
}


#registerForm > label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    /* cursor: pointer; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}


#registerForm input[type="text"], input[type="password"] {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #333333;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid #dddddd;
}

#registerForm button[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #333333;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 10px;
    width: 100%;
}


/* Dashboard */

#dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 270px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#dashboard input[type=text] {
    width: 30%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    background-color: transparent;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#dashboard button[type=submit] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    background-color:black ;
    color: white;
}



#dashboard button[type=submit]:hover {
    background-color:white ;
    color: black;
}


#scanbar button {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    background-color: transparent;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    color: black;
    cursor: pointer;
}

#scanframe {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: black;
    width: 800px;
    height: 400px;
}

.scanbody {
    justify-content: center;
    text-align: center;
    padding: 100px;

}

#vulnframe {
    margin: auto;
    display: flex;
    width: 800px;
    height: 400px;
    background-color: black;

}

#ipframe {
    margin: auto;
    display: flex;
    width: 800px;
    height: 400px;
    background-color: black;
}

.scanbuttons {
    margin-top: 50px;
}

.scanbuttons ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


.scanbuttons li {
    margin: 10px;
    background-color: white;
    color: black;
    outline: none;
    box-shadow: none;
    /* font-size: 18px; */
    text-align: center;
    border: none;

}


.scanbuttons li a:visited{
    color: red;
    text-decoration: none;    
}

#icon {
    display: block;
}

.scanbuttons button {
    border: none;
    outline: none;
    padding: 8px 13px 8px 15px ;
    font-size: 12px;
    background-color: black;
    color: white;
}

.scanbuttons button:hover {
    border: none;
    outline: none;
    padding: 8px 15px 8px 15px ;
    font-size: 12px;
    color: black;
    background-color: white;
    border: solid 1px black;
}


#animePurple {
    margin-top: 250px;
    box-shadow: white 0px 0px;
    border: white;
}



/*  Animation from codepen */
/* https://codepen.io/imathis/pen/ZYEWrw */

.content {
    display: none;
    justify-content: center;
    align-items: center;
}

.tetrominos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-112px, -96px);
}
.tetromino {
    width: 96px;
    height: 112px;
    position: absolute;
    transition: all ease 0.3s;
    background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}
.box1 {
    animation: tetromino1 1.5s ease-out infinite;
}
.box2 {
    animation: tetromino2 1.5s ease-out infinite;
}
.box3 {
    animation: tetromino3 1.5s ease-out infinite;
    z-index: 2;
}
.box4 {
    animation: tetromino4 1.5s ease-out infinite;
}
@keyframes tetromino1 {
   /* compose logo */
   /* 1 on 3 */
   /* L-shape */
    0%, 40% {
        transform: translate(0, 0);
   }
    50% {
       /* pre-box */
        transform: translate(48px, -27px);
   }
    60%, 100% {
       /* box */
       /* compose logo */
        transform: translate(96px, 0);
   }
}
@keyframes tetromino2 {
   /* compose logo */
   /* 1 on 3 */
    0%, 20% {
        transform: translate(96px, 0px);
   }
    40%, 100% {
       /* L-shape */
       /* box */
       /* compose logo */
        transform: translate(144px, 27px);
   }
}
@keyframes tetromino3 {
   /* compose logo */
    0% {
        transform: translate(144px, 27px);
   }
    20%, 60% {
       /* 1 on 3 */
       /* L-shape */
       /* box */
        transform: translate(96px, 54px);
   }
    90%, 100% {
       /* compose logo */
        transform: translate(48px, 27px);
   }
}
@keyframes tetromino4 {
   /* compose logo */
   /* 1 on 3 */
   /* L-shape */
   /* box */
    0%, 60% {
        transform: translate(48px, 27px);
   }
    90%, 100% {
       /* compose logo */
        transform: translate(0, 0);
   }
}

