{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

{{ data }}

<form action="/recon" method="POST" id="dashboard">
    <h3>Recon Project</h3>
    <label for="domain"></label>
    <input type="text" name="domain" placeholder="example.com">
    <button type="submit" id="reconbutton"> Search</button>
</form>    


<div id="loading" style="display: none;">
    <h1>QQQQQQQQQQQQQQQ</h1>
</div>

<div class="loader">
    <div class='tetrominos'>
        <div class='tetromino box1'></div>
        <div class='tetromino box2'></div>
        <div class='tetromino box3'></div>
        <div class='tetromino box4'></div>
      </div>    
</div>


    

{% endblock %}

