{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<main>
    <div class="hi">
        <h2> Hi I'm Sahin</h2>
        <img src="https://sahinyes.s3.eu-central-2.amazonaws.com/sahin.webp" alt="My profile picture">            
        <p>Website under construction. <br> Please come back later.</p>
        <div>
            <a href="https://www.linkedin.com/in/sahinyes/"><i class="fa fa-2x fa-linkedin" aria-hidden="true" style="color: black;"></i></a>
            <a href="mailto: sahin.yesilirmak@powercoders.org"><i class="fa fa-2x fa-envelope-o" aria-hidden="true" style="color: black;"></i></a>
            <a href="https://github.com/sahinyes"><i class="fa fa-2x fa-github" aria-hidden="true" style="color: black"></i></a>
        </div>
    </div>
</main>
{% endblock %}
