{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

<div class="content">
    <table class="subTable" border="1">
        <thead>
            <tr>
                <th>action</th>
                {% for col in output[0].keys() %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>    
    
        {% for row in output %}
        <tr>
            <td>
                <form action="/scan" method="POST">
                    <input type="hidden" name="value" value={{ row.url }}>
                    <button type="submit" class="scanButton">scan</button>
                </form>
            </td>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tbody>  
        </tbody>
    </table>
</div>



{% endblock %}