{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}


<form action="/register" method="POST" id="registerForm">
    <h1>Register Page</h1>
    <label for="username"></label>
    <input type="text" name="username" placeholder="Username" autofocus autocomplete="off">
    <label for="password"></label>
    <input type="password" name="password" placeholder="Password">
    <label for="confirm"></label>
    <input type="password" name="confirm" placeholder="Confirmation">
    <label for="key"></label>
    <input type="text" name="key" placeholder="Private Key">
    <button type="submit">Register</button>
</form>


{% endblock %}